body {
    background-color: #EAF6F6;
}

hr {
    border-color: gray;
    border-style: dotted none none;
    border-width: 5px;
    width: 5%;
}

h3 {
    color: #66BFBF;
}

h1 {
    color: #66BFBF;
}

